venv/
__pycache__/
*.pyc
.pytest_cache/

# Terraform working directories
**/.terraform/

# Terraform state
*.tfstate
*.tfstate.*
**/.terraform/

# Terraform variables
*.tfvars
!*.tfvars.example

# Terraform plan files
*.tfplan
tfplan

# Terraform crash logs
crash.log
crash.*.log

# Google GitHub Actions temporary credentials
gha-creds-*.json